.project-card {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background: white;
    filter: drop-shadow(5px 5px 5px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.project-img img {
    width: 100%;
}

.project-card div {
    width: 100%;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project-description {
    font-size: 14px;
}

.project-links img {
    width: 20px;
    opacity: 0.75;
}